node_modules/
.pnpm-store/

dist/
dist-ssr/
release/
release-manual/

.env
.env.local
.env.*.local
*.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
